@use "../utils/mixins";
@use "../utils/variables";



.explorer {
    text-align: center;
    margin: 2rem;
    & h2 {
        font-size: 1.5rem;
        margin: 1rem;
    }
    & p {
        font-size: 1rem;
    }
    & button {
        @include mixins.base-button;
        font-size: 1rem;
    }
}

.loader {
    $animation-duration: 1s;
    $animation-count: 3;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms $animation-duration * $animation-count forwards;
    transform-origin: top;
    i {
        animation: spin $animation-duration infinite ease-in-out;
        animation-iteration-count: $animation-count;
        color: variables.$bg-color-primaire;
    }
    
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}