@use "../utils/mixins";
@use "../utils/variables";


.tuto {
    counter-reset: steps;
    margin-bottom: 2rem;
    & ol {
        display: flex;
        gap: 2rem;
        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
    & li {
        position: relative;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: variables.$bg-color-primaire;
            width: 2 * variables.$tuto-bulles-height;
            height: 2 * variables.$tuto-bulles-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translateY(-50%);
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: variables.$tuto-bulles-height;
        @include mixins.base-shadow;
        &:hover {
            @include mixins.zoom;
        }
    & i.fas {
        margin-right: variables.$tuto-bulles-height;
        color: variables.$lightgrey;
    }    
    }
}
